<?xml version="1.0"?>
<config>
    <modules>
        <ZsoltNet_GLSLabel>
            <version>0.8.9</version>
        </ZsoltNet_GLSLabel>
    </modules>
    <admin>
        <routers>
            <glslabel>
                <use>admin</use>
                <args>
                    <module>ZsoltNet_GLSLabel</module>
                    <frontName>glslabel</frontName>
                </args>
            </glslabel>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <glslabel>
                        <type>singleton</type>
                        <class>glslabel/observer</class>
                        <method>addMassActionAddGLSButton</method>
                    </glslabel>
                </observers>
            </core_block_abstract_to_html_before>
            <sales_order_resource_init_virtual_grid_columns>
                <observers>
                    <glslabel>
                        <model>glslabel/observer</model>
                        <method>addColumnToResource</method>
                    </glslabel>
                </observers>
            </sales_order_resource_init_virtual_grid_columns>
        </events>
        <translate>
            <modules>
                <ZsoltNet_GLSLabel>
                    <files>
                        <default>ZsoltNet_GLSLabel.csv</default>
                    </files>
                </ZsoltNet_GLSLabel>
            </modules>
        </translate>
        <layout>
            <!-- layout upgrade configuration -->
            <updates>
                <glslabel>
                    <file>zsoltnet/glslabel.xml</file>
                </glslabel>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <glslabelmodule>
                                            <title>ZsoltNet Extension</title>
                                        </glslabelmodule>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <helpers>
            <glslabel>
                <class>ZsoltNet_GLSLabel_Helper</class>
            </glslabel>
        </helpers>
        <models>
            <glslabel>
                <class>ZsoltNet_GLSLabel_Model</class>
            </glslabel>
            <sales_mysql4>
                <rewrite>
                    <order_shipment>ZsoltNet_GLSLabel_Model_Mysql4_Order_Shipment</order_shipment>
                </rewrite>
            </sales_mysql4>
        </models>
        <resources>
        <!-- initialize sql upgrade setup -->
            <glslabel_setup>
                <setup>
                    <module>ZsoltNet_GLSLabel</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </glslabel_setup>
        </resources>
        <blocks>
            <glslabel>
                <class>ZsoltNet_GLSLabel_Block</class>
            </glslabel>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_view>ZsoltNet_GLSLabel_Block_Sales_Order_Shipment_View</sales_order_shipment_view>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <default>
        <glslabelmodule>
            <glslabel>
                <long_size>130</long_size>
                <tmpdir>/tmp/invoices</tmpdir>
                <debugdir>/tmp/debug</debugdir>
                <personalservice>Személyes átvétel</personalservice>
                <personalservicelabel>személyes átv.</personalservicelabel>
            </glslabel>
        </glslabelmodule>
    </default>
    <crontab>
        <jobs>
            <glslabel>
                <schedule><cron_expr>15 10,16,21 * * *</cron_expr></schedule>
                <run><model>glslabel/deliveryupdater::cron</model></run>
            </glslabel>
        </jobs>
    </crontab>
</config>
